# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
dist/
build/
*.spec
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Wine cross-compilation
.wine/

# Build artifacts
*.deb
*.rpm
*.exe
nullevision-installer.exe
python-installer.exe
deb_dist/
rpmbuild/

# Audio files (copyrighted — place your own test files)
*.mp3
*.wav
*.flac
*.m4a
*.m4b
*.ogg
*.opus
*.aac
*.wma
*.aiff
